@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{   
    padding: 0;
    height: 100vh;

    display: flex;              
    justify-content: center;    
    align-items: center;        

    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    background: url(https://cdn.pixabay.com/photo/2024/10/19/12/02/ai-generated-9132637_1280.jpg);
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.scratch-container{
    position: relative;
    width: 80vw;
    height: 35vw;
    max-width: 700px;
    aspect-ratio: 4/3;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(230, 200, 9, 0.9);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease-in-out;
}

.scratch-container:hover{
    transform: scale(1.05);
}

.hidden-message{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background: url(teddy_bg3.jpg);
    background-repeat: no-repeat;
    background-size: contain;   /* 🔑 key line */
    background-position: 110% center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.hidden-message h1{
    font-family: 'Pachinko', cursive;
    font-size: 3.8rem;
    color: #9d0606;
    animation: glow 5s infinite alternate ease-in-out;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 50px;
    transform: translate(-20px);
    max-width: 100%;
}

@keyframes glow {
    0% {
        text-shadow:
            0 0 8px  rgba(157, 6, 6, 0.6),
            0 0 16px rgba(157, 6, 6, 0.5),
            0 0 24px rgba(157, 6, 6, 0.4);
    }
    100% {
        text-shadow:
            0 0 12px rgba(157, 6, 6, 0.8),
            0 0 24px rgba(157, 6, 6, 0.6),
            0 0 36px rgba(157, 6, 6, 0.5);
    }
}

.hidden-message p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #5c0a0a;   /* softer red-brown for readability */
    font-weight: 600;
    opacity: 0.95;
    margin-left: 10px;

    text-shadow:
        0 0 6px rgba(157, 6, 6, 0.4),
        0 0 12px rgba(157, 6, 6, 0.3);

    transition: all 0.3s ease-in-out;
    margin-top: 10;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
